@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}
/* ::selection {
  background: #171b1e;
  color: #8f7e77;
}

::-moz-selection {
  background: #171b1e;
  color: #8f7e77;
} */

@theme inline {
  --breakpoint-xs: 479px;
  --color-primary: #9e8f7a;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* text size */
  --text-dynamic-4xl: clamp(42px, 4.676056338px + 7.4647887324vw, 148px);
  --text-dynamic-3xl: clamp(36px, 14.8732394366px + 4.2253521127vw, 96px);
  --text-dynamic-2xl: clamp(32px, 16.5070422535px + 3.0985915493vw, 76px);
  --text-dynamic-xl: clamp(26px, 15.4366197183px + 2.1126760563vw, 56px);
  --text-dynamic-lg: clamp(22px, 12.8450704225px + 1.8309859155vw, 30px);
  --text-dynamic-base: clamp(20px, 15.8873239437px + 0.4225352113vw, 26px);
  --text-dynamic-sm: clamp(18px, 17.2957746479px + 0.1408450704vw, 20px);
  --text-dynamic-sx: clamp(16px, 14.5915492958px + 0.2816901408vw, 20px);
  /* fonts */
  --font-cardo: var(--font-cardo);
  --font-cinzel: var(--font-cinzel);
  --font-raleway: var(--font-raleway);
  --font-alegreya: var(--font-alegreya);
  --font-montserrat: var(--font-montserrat);
  --font-medievalsharp: var(--font-medieval-sharp);
  --font-imfellenglish: var(--font-im-fell-english);
  --font-cinzeldecorative: var(--font-cinzel-decorative);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.animate-sweep {
  --angle: 0deg;
  background: linear-gradient(
    var(--angle),
    transparent,
    rgba(255, 215, 0, 0.5),
    transparent
  );
}

.sweep-vertical {
  animation: goldenLightSweep 70s ease-in-out infinite,
    rotateAngle 5s linear infinite;
}

.sweep-vertical-reversed {
  animation: goldenLightSweepReversed 70s ease-in-out infinite,
    rotateAngle 5s linear infinite;
}

.sweep-right {
  animation: goldenLightSweepHorizontal 70s ease-in-out infinite,
    rotateAngle 5s linear infinite;
}

.sweep-left {
  animation: goldenLightSweepHorizontalReversed 70s ease-in-out infinite,
    rotateAngle 5s linear infinite;
}

/* toggle animation classes */
.audio-line-1 {
  animation: audio-line-1 0.9s linear infinite;
}
.audio-line-2 {
  animation: audio-line-2-5 1.3s linear infinite;
}
.audio-line-3 {
  animation: audio-line-0-3 0.9s linear infinite;
}
.audio-line-4 {
  animation: audio-line-4 0.8s linear infinite;
}

.wave-animation {
  animation: wave 4s linear infinite;
}

.wave-animation-reversed {
  animation: wave 6s linear infinite reverse;
}

.rotate-animation {
  animation: rotate 4s linear infinite;
}
.rotate-svg-animation {
  transform-origin: center center;
  animation: rotate 20s linear infinite;
}
.rotate-svg-animation-reverse {
  transform-origin: center center;
  animation: rotate 20s linear infinite reverse;
}
@keyframes goldenLightSweep {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
@keyframes goldenLightSweepReversed {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 100%;
  }
}
@keyframes goldenLightSweepHorizontal {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}
@keyframes goldenLightSweepHorizontalReversed {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes rotateAngle {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

/* sound toggle animation keyframes */
@keyframes audio-line-0-3 {
  0% {
    transform: scaleY(0.1);
  }
  50% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(0.1);
  }
}

@keyframes audio-line-1 {
  0% {
    transform: scaleY(0.1);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.1);
  }
}

@keyframes audio-line-2-5 {
  0% {
    transform: scaleY(0.3);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.1);
  }
}

@keyframes audio-line-4 {
  0% {
    transform: scaleY(0.1);
  }
  50% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(0.1);
  }
}

/* wave animation keyframe */
@keyframes wave {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100%);
  }
}

/* rotate animation keyframe */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
