@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* ::selection {
  background: #171b1e;
  color: #8f7e77;
}

::-moz-selection {
  background: #171b1e;
  color: #8f7e77;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* fonts */
  --font-cinzel: var(--font-cinzel);
  --font-alegreya: var(--font-alegreya);
  --font-montserrat: var(--font-montserrat);
  --font-raleway: var(--font-raleway);
  --font-cardo: var(--font-cardo);
  --font-imfellenglish: var(--font-im-fell-english);
  --font-cinzeldecorative: var(--font-cinzel-decorative);
  --font-medievalsharp: var(--font-medieval-sharp);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
