@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}
/* ::selection {
  background: #171b1e;
  color: #8f7e77;
}

::-moz-selection {
  background: #171b1e;
  color: #8f7e77;
} */

@theme inline {
  --breakpoint-xs: 479px;
  --color-bronze: #796f65;
  --color-primary: #9e8f7a;
  --color-blurred: rgba(0, 0, 0, 0.05);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* text size */
  --text-dynamic-4xl: clamp(42px, 4.676056338px + 7.4647887324vw, 148px);
  --text-dynamic-3xl: clamp(36px, 14.8732394366px + 4.2253521127vw, 96px);
  --text-dynamic-2xl: clamp(32px, 16.5070422535px + 3.0985915493vw, 76px);
  --text-dynamic-xl: clamp(30px, 15.4366197183px + 2.1126760563vw, 56px);
  --text-dynamic-lg: clamp(22px, 12.8450704225px + 1.8309859155vw, 30px);
  --text-dynamic-base: clamp(20px, 15.8873239437px + 0.4225352113vw, 26px);
  --text-dynamic-sm: clamp(18px, 17.2957746479px + 0.1408450704vw, 20px);
  --text-dynamic-sx: clamp(16px, 14.5915492958px + 0.2816901408vw, 20px);
  /* fonts */
  --font-cardo: var(--font-cardo);
  --font-cinzel: var(--font-cinzel);
  --font-raleway: var(--font-raleway);
  --font-alegreya: var(--font-alegreya);
  --font-montserrat: var(--font-montserrat);
  --font-medievalsharp: var(--font-medieval-sharp);
  --font-imfellenglish: var(--font-im-fell-english);
  --font-cinzeldecorative: var(--font-cinzel-decorative);
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.animate-sweep {
  --angle: 0deg;
  background: linear-gradient(
    var(--angle),
    transparent,
    rgba(255, 215, 0, 0.5),
    transparent
  );
}

.sweep-vertical {
  animation: goldenLightSweep 70s ease-in-out infinite,
    rotateAngle 5s linear infinite;
}

.sweep-vertical-reversed {
  animation: goldenLightSweepReversed 70s ease-in-out infinite,
    rotateAngle 5s linear infinite;
}

.sweep-right {
  animation: goldenLightSweepHorizontal 70s ease-in-out infinite,
    rotateAngle 5s linear infinite;
}

.sweep-left {
  animation: goldenLightSweepHorizontalReversed 70s ease-in-out infinite,
    rotateAngle 5s linear infinite;
}

/* toggle animation classes */
.audio-line-1 {
  animation: audio-line-1 0.9s linear infinite;
}
.audio-line-2 {
  animation: audio-line-2-5 1.3s linear infinite;
}
.audio-line-3 {
  animation: audio-line-0-3 0.9s linear infinite;
}
.audio-line-4 {
  animation: audio-line-4 0.8s linear infinite;
}

.wave-animation {
  animation: wave 4s linear infinite;
}

.wave-animation-reversed {
  animation: wave 6s linear infinite reverse;
}

.rotate-scale {
  transform-origin: center center;
  animation: spin-scale 10s cubic-bezier(0.76, 0, 0.24, 1) infinite;
  transform-style: preserve-3d;
}
.rotate-svg-animation {
  transform-origin: center center;
  animation: rotate 20s linear infinite;
}
.rotate-svg-animation-reverse {
  transform-origin: center center;
  animation: rotate 20s linear infinite reverse;
}

.rotate-opacity {
  animation: opacity 20s cubic-bezier(0.76, 0, 0.24, 1) infinite;
}
.rotate-infinite {
  transform-origin: center center;
  animation: spin 60s cubic-bezier(0.76, 0, 0.24, 1) infinite;
}

@keyframes goldenLightSweep {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
@keyframes goldenLightSweepReversed {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 100%;
  }
}
@keyframes goldenLightSweepHorizontal {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}
@keyframes goldenLightSweepHorizontalReversed {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes rotateAngle {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

/* sound toggle animation keyframes */
@keyframes audio-line-0-3 {
  0% {
    transform: scaleY(0.1);
  }
  50% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(0.1);
  }
}

@keyframes audio-line-1 {
  0% {
    transform: scaleY(0.1);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.1);
  }
}

@keyframes audio-line-2-5 {
  0% {
    transform: scaleY(0.3);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.1);
  }
}

@keyframes audio-line-4 {
  0% {
    transform: scaleY(0.1);
  }
  50% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(0.1);
  }
}

/* wave animation keyframe */
@keyframes wave {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100%);
  }
}

/* rotate animation keyframe */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* rotate opacity animation keyframe */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes opacity {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
    opacity: 0.2;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* rotate and scale animation */
@keyframes spin-scale {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  25% {
    transform: rotate(90deg) scale(0.9);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  75% {
    transform: rotate(270deg) scale(0.9);
  }
  100% {
    transform: rotate(360deg) scale(0.8);
  }
}

/* floating animation keyframe */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-1px); /* move up */
  }
  50% {
    transform: translateY(0); /* move up */
  }
  75% {
    transform: translateY(1px); /* move up */
  }
  100% {
    transform: translateY(0);
  }
}

.location-ping:hover .float-animation-class {
  animation: float 2s linear infinite;
}
.grid-container:has(.group:hover) .group:not(:hover) .svg-element {
  transform: scale(95%);
}
